<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New</title>
    <link rel="stylesheet" href="/assets/css/stylesheetfetch.css">
</head>
<body>
    <nav>
        <h1>FETCH DOB:</h1>
    </nav>
    <main>
        <form action="/fetch" method="POST">
             <span>PERSON: <input class="input" id="personInput" type="text" name="Person" placeholder="Write the person's name" required></span>
             <span>DOB: <input class="input" id="dobinput" type="text" name="DOB" value="Hello" required></span>
             <input id="submit" type="submit" required>
        </form>
    </main>
</body>
</html>